#開発サイトのホスト名を指定する（自身の開発ホストを決めて設定する）（ローカルIPに合わせてhostファイルに設定する）
HTTP_CONF_SERVER_NAME=local.xxxxx.siteengine.co.jp

#開発サイトのドキュメントルートを指定する（フレームワークの都合などに合わせて変更する）
HTTP_CONF_DOCUMENTROOT=/var/www/html/laravel9/public

#SSL証明書のパスを指定する
SSLCertificateFile=/etc/ssl/certs/ssl.crt

#SSL証明書のキーを指定する
SSLCertificateKeyFile=/etc/ssl/private/ssl.key
